@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --primary-black: #0a0a0a;
  --primary-blue: #20bbf8;
  --primary-grey: #b5b2b2;
  --primary-white: #fff;
}

body {
  font-family: 'Roboto', sans-serif !important;
  /* color: var(--primary-black) !important; */
}

/* NavBar */
.logo {
  width: 5rem;
  /* height: 4rem; */
}

/* Nav Links */
nav a.nav-link {
  /* font-weight: 500; */
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-black) !important;
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  /* height: 6rem !important; */
}

@media (max-width: 720px) {
  .navbar-brand {
    width: 5rem;
  }
  /* .type-text {
    font-size: 1.3rem;
  } */
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:focus {
  border-top: 0.1875rem solid var(--primary-blue);
  /* color: #20bbf8; */
}

.navbar-nav > li > a:hover {
  color: var(--primary-blue) !important;
}

/* Header */
.header-wraper {
  position: relative;
  background: url(./components/images/headerImage1.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

/* .bgColor {
  background-color: var(--primary-black);
  opacity: 0.5;
  height: 90vh;
} */

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-info h1 {
  color: var(--primary-white) !important;
  text-transform: uppercase;
}

/* Type Text */
.type-text {
  color: var(--primary-white) !important;
  font-size: 1.5rem;
}

@media (max-width: 720px) {
  .main-info h1 {
    font-size: 1.5rem !important;
  }
  .type-text {
    font-size: 1.3rem;
  }
}

/* Header Main Offer */
.btn-main-offer {
  border: 1px solid var(--primary-white);
  text-decoration: none;
  color: var(--primary-black);
  background-color: var(--primary-grey);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.6rem 0.625rem 0.1rem 0.625rem;
  margin: 2rem;
  /* height: 5vh; */
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: var(--primary-white);
  color: var(--primary-black);
  transition: 0.2s ease-in-out;
}

/* About Us */

.about-us {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  word-spacing: 0.2rem;
  line-height: 1.8rem;
  /* top: 10%; */
}

/* Particles */
/* .tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
} */

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
