@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --primary-black: #0a0a0a;
  --primary-blue: #20bbf8;
  --primary-grey: #b5b2b2;
  --primary-light-grey: #f4f4f4;
  --primary-white: #fff;
}

body {
  font-family: 'Roboto', sans-serif !important;
  /* color: var(--primary-black) !important; */
}

/***** NavBar *****/
.logo {
  width: 5rem;
  /* height: 4rem; */
}

.navbar {
  height: auto;
  top: 0.625rem;
}

/***** Nav Links *****/
nav a.nav-link {
  /* font-weight: 500; */
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-black) !important;
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  /* height: 6rem !important; */
}

@media (max-width: 720px) {
  .navbar-brand {
    width: 5rem;
  }
  /* .type-text {
    font-size: 1.3rem;
  } */
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:focus {
  border-top: 0.1875rem solid var(--primary-blue);
  /* color: #20bbf8; */
}

.navbar-nav > li > a:hover {
  color: var(--primary-blue) !important;
}

/***** Header *****/
.header-wraper {
  position: relative;
  background: url(./components/images/headerImage1.png) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

/* .bgColor {
  background-color: var(--primary-black);
  opacity: 0.5;
  height: 90vh;
} */

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main-info h1 {
  color: var(--primary-white) !important;
  text-transform: uppercase;
}

/***** Type Text *****/
.type-text {
  color: var(--primary-white) !important;
  font-size: 1.5rem;
}

@media (max-width: 720px) {
  .main-info h1 {
    font-size: 1.5rem !important;
  }
  .type-text {
    font-size: 1.3rem;
  }
}

/***** Home Main Offer *****/
.btn-main-offer {
  border: 1px solid var(--primary-white);
  text-decoration: none;
  color: var(--primary-black);
  background-color: var(--primary-grey);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.6rem 0.625rem 0.1rem 0.625rem;
  margin-top: 2rem;
  /* height: 5vh; */
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: var(--primary-white);
  color: var(--primary-black);
  transition: 0.2s ease-in-out;
}

/***** About Us *****/

.about-us {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  word-spacing: 0.2rem;
  line-height: 1.8rem;
  /* top: 10%; */
}

/***** Services *****/
.services {
  text-align: center;
  padding-bottom: 2rem;
  background: var(--primary-light-grey);
}

.services h1 {
  text-transform: uppercase;
  font-weight: 400;
}

.services h3 {
  font-weight: 400;
  margin-top: 1rem;
  margin-bottom: 1rem;
  word-spacing: 0.3rem;
  line-height: 2.5rem;
}

.services p {
  line-height: 1.8rem;
}

.services .circle {
  position: relative;
  margin: 0.375rem auto;
  background: var(--primary-blue);
  border-radius: 50%;
  width: 3.125rem;
  height: 3.125rem;
}

.services .icon {
  font-size: 1.4rem;
  color: var(--primary-white);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.services .box {
  height: 90%;
  border-bottom: 0.3125rem solid var(--primary-blue);
  padding: 0.625rem;
  margin-bottom: 1.875rem;
  background: var(--primary-white);
}

@media screen {
}

/***** Projects  *****/
.projects {
  text-align: center;
  padding-bottom: 2rem;
  background: var(--primary-white);
}

.projects h1 {
  text-transform: uppercase;
  font-weight: 400;
}

.proj-img {
  width: 54.5rem;
  height: 45rem;
}

@media screen and (max-width: 770px) {
  .proj-img {
    width: 100%;
    height: 100%;
  }
}

/***** Contact Us  *****/

.contact {
  text-align: center;
  padding-bottom: 2rem;
  background: var(--primary-grey);
}
.contact h1 {
  text-transform: uppercase;
  font-weight: 400;
}

/***** Input Area  *****/
.contact input,
.contact textarea {
  width: 100%;
  box-sizing: border-box;
  background: none;
  resize: none;
  border: 0;
  border-radius: 0;
  border-bottom: 0.1125rem solid #696969;
  outline: 0 !important;
  box-shadow: none !important;
  top: 0;
  margin-bottom: 1rem;
}

.contact input:focus,
.contact textarea:focus {
  background: transparent;
  border-bottom: 0.125rem solid #696969;
}

.contact textarea {
  height: 12.2rem !important;
  /* margin-left: 2rem; */
}

.contact-btn {
  margin: 1rem 0 0 0;
  width: 100%;
  padding-bottom: 0.5rem;
  float: left;
}

.line {
  position: relative;
  top: -0.8rem;
  width: 0;
  height: 0.125rem;
  background: var(--primary-blue);
  display: inline-block;
}

input:focus + .line,
textarea:focus + .line {
  width: 100%;
  transition: 0.5s ease-in-out;
}

input.form-control,
textarea.form-control {
  margin: -0.3rem 0;
}

@media screen and (max-width: 768px) {
  .contacts {
    overflow-x: hidden;
  }

  .contact .container {
    padding: 0 1rem;
  }

  .contact p {
    padding: 0 1rem;
  }
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
